*, *::after, *::before{
    margin: 0;
    padding: 0;
}




/* @import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Condensed+One&display=swap');

:root{
    --transparent-color: #49111c00;

    --black-color-pallete1: #0A0908;
    --burgundy-color-pallete1: #49111c;
    --white-color-pallete1: #f2f4f3;
    --taupe-color-pallete1: #A9927D;
    --brown-color-pallete1: #5E503F;

    --white-color-pallete2: #FDFFFF;
    --red-color-pallete2: #B10F2E;
    --cherry-color-pallete2: #570000;
    --mogno-color-pallete2: #280000;
    --peach-color-pallete2: #DE7C5A;

    --blue-color-pallete3: #001427;
    --teal-color-pallete3: #708D81;
    --jasmine-color-pallete3: #f4d58d;
    --ember-color-pallete3: #BF0603;
    --red-color-pallete3: #8D0801;

    --special-gothic-font: "Special Gothic Condensed One", sans-serif;
}


*,*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    line-height: 1.6;
    font-family: var(--special-gothic-font);
}


header{
    font-size: clamp(1rem, 1.5rem);
    font-weight: 300;
    background-color: var(--burgundy-color-pallete1);
    padding: 20px 10px;
    width: 100%;
    display: flex;
    justify-items: center; 
    align-items: center;   
}


.navbar{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar a{
    text-decoration: none;
    color: var(--white-color-pallete1);
}
.navbar-links li{
    padding: 0 5px;
}


.hero-page{
    
    color: var(--white-color-pallete1);
    background: var(--blue-color-pallete3);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hero-content{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hero-welcome h1{
    font-size: clamp(1rem, 5rem, 7rem);
}
.hero-suggestion{
    padding: 0 10px;
}






.about-page{
    margin: 0 auto;
    max-width: 1280px;
    background-color: var(--jasmine-color-pallete3);
}
.skills-page{
    margin: 0 auto;
    max-width: 1280px;
    background-color: var(--white-color-pallete1);
}
.projects-page{
    margin: 0 auto;
    max-width: 1280px;
    background-color: var(--black-color-pallete1);
}
.contact-page{
    margin: 0 auto;
    max-width: 1280px;
    background-color: var(--white-color-pallete1);
} */